In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import helperFunctions

from collections import Counter

In [2]:
# read the train and test csv files
train_df = pd.read_csv('original_data/train.csv')
test_df = pd.read_csv('original_data/test-3.csv', index_col='index') # no need to read the index column

## Data Exploration, Data Cleaning

Let us examine the dataframes and their columns

In [3]:
train_df

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
0,3.0,12.0,0.0,14.0,4.0,0.0,Stuttgart,07/08/09,H,6.0,12.0,0.0,13.0,7.0,0.0,0.0,0.0,Wolfsburg,bundesliga
1,1.0,10.0,0.0,7.0,0.0,1.0,FC Koln,08/08/09,H,16.0,8.0,0.0,24.0,11.0,0.0,0.0,0.0,Dortmund,bundesliga
2,3.0,20.0,0.0,15.0,3.0,2.0,Hannover,08/08/09,H,5.0,16.0,0.0,10.0,4.0,0.0,0.0,3.0,Hertha,bundesliga
3,10.0,28.0,0.0,9.0,3.0,2.0,Bayern Munich,08/08/09,D,3.0,10.0,0.0,9.0,1.0,1.0,1.0,0.0,Hoffenheim,bundesliga
4,5.0,28.0,0.0,13.0,7.0,2.0,Leverkusen,08/08/09,D,3.0,22.0,0.0,8.0,4.0,2.0,1.0,1.0,Mainz,bundesliga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12784,7.0,1.0,0.0,17.0,4.0,1.0,Udinese,28/05/17,H,6.0,15.0,0.0,17.0,6.0,0.0,3.0,2.0,Inter,serie-a
12785,7.0,16.0,0.0,17.0,4.0,4.0,Empoli,28/05/17,H,0.0,18.0,0.0,10.0,5.0,0.0,0.0,3.0,Palermo,serie-a
12786,2.0,14.0,0.0,13.0,4.0,0.0,Genoa,28/05/17,H,6.0,8.0,0.0,24.0,7.0,1.0,1.0,2.0,Roma,serie-a
12787,10.0,8.0,0.0,22.0,7.0,0.0,Napoli,28/05/17,A,5.0,9.0,0.0,12.0,2.0,2.0,0.0,1.0,Sampdoria,serie-a
12788,10.0,6.0,0.0,21.0,7.0,0.0,Sassuolo,28/05/17,H,6.0,16.0,0.0,16.0,9.0,2.0,3.0,2.0,Torino,serie-a

In [4]:
test_df

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,Referee,league
index,,,,,,,,,,,,,,,,,,,
0,5,17,0,19,4,2,Leverkusen,18/08/17,4,13,0,13,8,0,2,1,Bayern Munich,NaN,bundesliga
1,7,16,0,13,1,3,Augsburg,19/08/17,3,18,0,11,5,0,1,4,Hamburg,NaN,bundesliga
2,1,12,0,9,2,1,Stuttgart,19/08/17,5,18,0,10,3,0,0,2,Hertha,NaN,bundesliga
3,4,15,0,11,2,3,Werder Bremen,19/08/17,6,17,0,14,3,0,0,1,Hoffenheim,NaN,bundesliga
4,1,14,0,6,2,5,Hannover,19/08/17,13,18,0,14,6,0,0,3,Mainz,NaN,bundesliga
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,1,5,1,9,3,1,Fiorentina,20/05/18,6,10,0,18,11,1,2,2,Milan,NaN,serie-a
376,9,9,0,9,4,0,Crotone,20/05/18,6,3,0,19,9,0,2,0,Napoli,NaN,serie-a
377,9,8,0,15,6,1,Roma,20/05/18,5,14,0,16,3,1,0,1,Sassuolo,NaN,serie-a
378,3,11,0,9,3,4,Sampdoria,20/05/18,5,10,0,16,6,0,1,1,Spal,NaN,serie-a
379,2,11,0,8,5,2,Bologna,20/05/18,10,9,0,20,5,0,1,0,Udinese,NaN,serie-a

In [5]:
train_df.columns

Index(['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'AwayTeam', 'Date', 'FTR', 'HC',
       'HF', 'HR', 'HS', 'HST', 'HTAG', 'HTHG', 'HY', 'HomeTeam', 'league'],
      dtype='object')

In [6]:
test_df.columns

Index(['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'AwayTeam', 'Date', 'HC', 'HF',
       'HR', 'HS', 'HST', 'HTAG', 'HTHG', 'HY', 'HomeTeam', 'Referee',
       'league'],
      dtype='object')

In [7]:
print(f"Number of columns in train_df = {len(train_df.columns)}")
print(f"Number of columns in test_df = {len(test_df.columns)}")

Number of columns in train_df = 19
Number of columns in test_df = 19

At first glance, there is a `Referee` column in the `test_df` i.e. the test dataset, which is not there in the `train_df` i.e. train dataset.
In the `train_df`, the FTR (what we should predict) appears but not in the test df, as it should.  

Let us find out if there are more such columns.

In [8]:
commonColumns = set(list(train_df.columns)).intersection(set(list(test_df.columns))) # between train and test dataframes
print(sorted(commonColumns), f"i.e. {len(commonColumns)} columns are common between train_df and test_df")

['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'AwayTeam', 'Date', 'HC', 'HF', 'HR', 'HS', 'HST', 'HTAG', 'HTHG', 'HY', 'HomeTeam', 'league'] i.e. 18 columns are common between train_df and test_df

In [9]:
set(list(train_df.columns)) - commonColumns  # columns only in train_df

{'FTR'}

In [10]:
set(list(test_df.columns)) - commonColumns  # columns only in test_df

{'Referee'}

The referee should not influence the outcome of the game. So, we can safely drop that column in `test_df`.  

As we train our model, `FTR` column should not be one of the predictors since that is what we are predicting. We shoulddrop this too for training. 

So, both the train and test dataframes will have the same columns once we drop these columns from the respective dataframes.

Let us check the datatypes and missing values in the two DFs.

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12789 entries, 0 to 12788
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AC        12780 non-null  float64
 1   AF        12778 non-null  float64
 2   AR        12780 non-null  float64
 3   AS        12780 non-null  float64
 4   AST       12780 non-null  float64
 5   AY        12780 non-null  float64
 6   AwayTeam  12782 non-null  object
 7   Date      12782 non-null  object
 8   FTR       12782 non-null  object
 9   HC        12780 non-null  float64
 10  HF        12778 non-null  float64
 11  HR        12780 non-null  float64
 12  HS        12780 non-null  float64
 13  HST       12780 non-null  float64
 14  HTAG      12779 non-null  float64
 15  HTHG      12779 non-null  float64
 16  HY        12779 non-null  float64
 17  HomeTeam  12782 non-null  object
 18  league    12789 non-null  object
dtypes: float64(14), object(5)
memory usage: 1.9+ MB

Almost every column in `train_df` except the `league` has null values.  Even the FTR column i.e. the result column has 7 missing values. We will deal with these missing values later in this notebook.

In [12]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1826 entries, 0 to 379
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AC        1826 non-null   int64
 1   AF        1826 non-null   int64
 2   AR        1826 non-null   int64
 3   AS        1826 non-null   int64
 4   AST       1826 non-null   int64
 5   AY        1826 non-null   int64
 6   AwayTeam  1826 non-null   object
 7   Date      1826 non-null   object
 8   HC        1826 non-null   int64
 9   HF        1826 non-null   int64
 10  HR        1826 non-null   int64
 11  HS        1826 non-null   int64
 12  HST       1826 non-null   int64
 13  HTAG      1826 non-null   int64
 14  HTHG      1826 non-null   int64
 15  HY        1826 non-null   int64
 16  HomeTeam  1826 non-null   object
 17  Referee   380 non-null    object
 18  league    1826 non-null   object
dtypes: int64(14), object(5)
memory usage: 285.3+ KB

Almost no column in `test_df` except `Referee` has null values. Since this column can be safely dropped, `test_df` will have no null values.

The date information could turn out to be useful in our analysis. So, let's change it to the appropriate datatype before moving forward.  
First, we check the format of the date in the train and test CSV files.

In [13]:
train_df["Date"]

0        07/08/09
1        08/08/09
2        08/08/09
3        08/08/09
4        08/08/09
           ...
12784    28/05/17
12785    28/05/17
12786    28/05/17
12787    28/05/17
12788    28/05/17
Name: Date, Length: 12789, dtype: object

In [14]:
test_df["Date"]

index
0      18/08/17
1      19/08/17
2      19/08/17
3      19/08/17
4      19/08/17
         ...
375    20/05/18
376    20/05/18
377    20/05/18
378    20/05/18
379    20/05/18
Name: Date, Length: 1826, dtype: object

We see that in the last few rows in the above outputs, the format must be %d/%m/%y. We specify that in the `pd.to_datetime()`

In [15]:
# change string column to datetime64 column

train_df["Date"] = pd.to_datetime(train_df["Date"], format="%d/%m/%y")
test_df["Date"] = pd.to_datetime(test_df["Date"], format="%d/%m/%y")

In [16]:
print(f"\nOldest date in train_df is {min(train_df['Date']).strftime('%d %B %Y')}")
print(f"Latest date in train_df is {max(train_df['Date']).strftime('%d %B %Y')}")

print(f"\nOldest date in test_df is {min(test_df['Date']).strftime('%d %B %Y')}")
print(f"Latest date in test_df is {max(test_df['Date']).strftime('%d %B %Y')}")

Oldest date in train_df is 07 August 2009
Latest date in train_df is 28 May 2017

Oldest date in test_df is 04 August 2017
Latest date in test_df is 20 May 2018

The dates tell us that the matches starts from 2009-10 season in `train_df` and ends with the 2016-17 season.     
Similarly, matches starts from the 2007-18 season.

In [17]:
# the following columns are always non-negative integers and can never be float values. The values are always less than the max value of Int8 since there can't something like 127 (max value of signed int) corners/shots in a match. Let us change them to integer values. Null values are handled automatically for us.

columnNames = ['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'HC', 'HF', 'HR', 'HS', 'HST', 'HTAG', 'HTHG', 'HY']
for columnName in columnNames:
    if min(train_df[columnName]) < 0 or min(test_df[columnName]) < 0:
        raise Exception(f"Value under {columnName} in train_df or test_df is negative. This cannot happen. Some issue with the data!!") # not handling this exception since I want the code to stop running on seeing this issue.
    # if no issue found, change that column to integer type.
    train_df[columnName] = train_df[columnName].astype('Int8')
    test_df[columnName] = test_df[columnName].astype('Int8')

In [18]:
# the following columns are/should always be strings
# skipped Referee since we will dropping it. FTR will be looked into.
columnNames = ['AwayTeam', 'HomeTeam', 'league']
for columnName in columnNames:
    train_df[columnName] = train_df[columnName].astype('string')
    test_df[columnName] = test_df[columnName].astype('string')

In [19]:
# check for any unexpected values under the FTR column
Counter(list(train_df["FTR"].astype('string')))

Counter({'H': 5931, 'D': 3283, 'A': 3568, <NA>: 7})

In [20]:
# change FTR column to string.
train_df["FTR"] = train_df["FTR"].astype('string') # null values are taken care of automatically

In [21]:
# check for duplicated rows and keep only one occurence of the row. We'll choose the first occurence of the row. 
print(f"Number of rows in train_df = {len(train_df)}")
print(f"Number of rows in test_df = {len(test_df)}")

# drop duplicates
train_df = train_df.drop_duplicates(keep='first')
test_df = test_df.drop_duplicates(keep='first')
print("After dropping duplicates ...")

print(f"Number of rows in train_df = {len(train_df)}")
print(f"Number of rows in test_df = {len(test_df)}")

Number of rows in train_df = 12789
Number of rows in test_df = 1826
After dropping duplicates ...
Number of rows in train_df = 12785
Number of rows in test_df = 1826

As we can see, four rows from `train_df` where there were duplicates have been dropped. None have been from `test_df`.

In [22]:
# let us drop the Referee column in the test_df since 1) we do not have it while training 2) referee should/does not influence the game.
test_df = test_df.drop(['Referee'], axis=1)

Once again, let us list the datatypes and number of null values under each column for `train_df` and `test_df`.

In [23]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12785 entries, 0 to 12788
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AC        12780 non-null  Int8
 1   AF        12778 non-null  Int8
 2   AR        12780 non-null  Int8
 3   AS        12780 non-null  Int8
 4   AST       12780 non-null  Int8
 5   AY        12780 non-null  Int8
 6   AwayTeam  12782 non-null  string
 7   Date      12782 non-null  datetime64[ns]
 8   FTR       12782 non-null  string
 9   HC        12780 non-null  Int8
 10  HF        12778 non-null  Int8
 11  HR        12780 non-null  Int8
 12  HS        12780 non-null  Int8
 13  HST       12780 non-null  Int8
 14  HTAG      12779 non-null  Int8
 15  HTHG      12779 non-null  Int8
 16  HY        12779 non-null  Int8
 17  HomeTeam  12782 non-null  string
 18  league    12785 non-null  string
dtypes: Int8(14), datetime64[ns](1), string(4)
memory usage: 948.9 KB

In [24]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1826 entries, 0 to 379
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AC        1826 non-null   Int8
 1   AF        1826 non-null   Int8
 2   AR        1826 non-null   Int8
 3   AS        1826 non-null   Int8
 4   AST       1826 non-null   Int8
 5   AY        1826 non-null   Int8
 6   AwayTeam  1826 non-null   string
 7   Date      1826 non-null   datetime64[ns]
 8   HC        1826 non-null   Int8
 9   HF        1826 non-null   Int8
 10  HR        1826 non-null   Int8
 11  HS        1826 non-null   Int8
 12  HST       1826 non-null   Int8
 13  HTAG      1826 non-null   Int8
 14  HTHG      1826 non-null   Int8
 15  HY        1826 non-null   Int8
 16  HomeTeam  1826 non-null   string
 17  league    1826 non-null   string
dtypes: Int8(14), datetime64[ns](1), string(3)
memory usage: 121.3 KB

Get the count of null values in all columns in the two dataframes

In [25]:
train_df.isnull().sum() # number of null values by column in train_df

AC          5
AF          7
AR          5
AS          5
AST         5
AY          5
AwayTeam    3
Date        3
FTR         3
HC          5
HF          7
HR          5
HS          5
HST         5
HTAG        6
HTHG        6
HY          6
HomeTeam    3
league      0
dtype: int64

In [26]:
test_df.isnull().sum() # number of null values by column in test_df

AC          0
AF          0
AR          0
AS          0
AST         0
AY          0
AwayTeam    0
Date        0
HC          0
HF          0
HR          0
HS          0
HST         0
HTAG        0
HTHG        0
HY          0
HomeTeam    0
league      0
dtype: int64

Let us look at the rows with one or more values in the dataframes.

In [27]:
train_df[train_df.isnull().any(axis=1)]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5,<NA>,0,6,3,3,Marseille,2011-09-18,H,3,<NA>,0,10,5,0,2,0,Lyon,ligue-1
5733,1,<NA>,0,9,3,5,Nancy,2011-12-17,A,8,<NA>,0,9,1,1,0,2,Caen,ligue-1
7082,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,ligue-1
7408,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Lyon,2017-04-16,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Bastia,ligue-1
9363,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,premier-league
11298,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Roma,2012-09-23,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cagliari,serie-a
11644,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaT,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,serie-a
11894,5,16,0,10,1,5,Juventus,2015-03-02,D,1,11,1,8,3,0,0,<NA>,Roma,serie-a
12426,7,21,0,15,5,2,Pescara,2016-08-28,A,2,12,0,13,3,<NA>,<NA>,2,Sassuolo,serie-a

Row with indices 7082, 9363, 11644 have null under all columns without any information other than the leagues they belong to.   If we knew the Home and Away teams along with the season information, we could have retrieved this data from external sources and filled it in. **Unfortunately, we will have to drop these rows.**

In [28]:
train_df = train_df.drop(axis=1, index = [7082, 9363, 11644])  # drop from train_df where all columns are null values

In [29]:
train_df[train_df.isnull().any(axis=1)] # check rows with one or more null values again in train_df

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5,<NA>,0,6,3,3,Marseille,2011-09-18,H,3,<NA>,0,10,5,0,2,0,Lyon,ligue-1
5733,1,<NA>,0,9,3,5,Nancy,2011-12-17,A,8,<NA>,0,9,1,1,0,2,Caen,ligue-1
7408,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Lyon,2017-04-16,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Bastia,ligue-1
11298,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Roma,2012-09-23,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cagliari,serie-a
11894,5,16,0,10,1,5,Juventus,2015-03-02,D,1,11,1,8,3,0,0,<NA>,Roma,serie-a
12426,7,21,0,15,5,2,Pescara,2016-08-28,A,2,12,0,13,3,<NA>,<NA>,2,Sassuolo,serie-a

In [30]:
test_df[test_df.isnull().any(axis=1)] # check rows with one or more null values again in test_df

Empty DataFrame
Columns: [AC, AF, AR, AS, AST, AY, AwayTeam, Date, HC, HF, HR, HS, HST, HTAG, HTHG, HY, HomeTeam, league]
Index: []

We can get information for the missing values using Date, HomeTeam and AwayTeam using the CSVs we have downloaded. For that, let's identify the leagues we need to download.

In [31]:
# list the leagues in both the dfs
print("Leagues in train_df ::", list(np.unique(train_df["league"])))
print("Leagues in test_df :: ", list(np.unique(test_df["league"])))

Leagues in train_df :: ['bundesliga', 'la-liga', 'ligue-1', 'premier-league', 'serie-a']
Leagues in test_df ::  ['bundesliga', 'la-liga', 'ligue-1', 'premier-league', 'serie-a']

Please look into **0_downloadMoreData.py** file on how we can download data for each season for different leagues. Using the data downloaded, we can try to fill in the NA/null values we see train_df. Notes about these can be found [here](https://www.football-data.co.uk/notes.txt)

In [32]:
# identify rows in train_df that have one or more null rows
train_df_oneOrMoreNulls = train_df[train_df.isnull().any(axis=1)]
train_df_oneOrMoreNulls

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5,<NA>,0,6,3,3,Marseille,2011-09-18,H,3,<NA>,0,10,5,0,2,0,Lyon,ligue-1
5733,1,<NA>,0,9,3,5,Nancy,2011-12-17,A,8,<NA>,0,9,1,1,0,2,Caen,ligue-1
7408,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Lyon,2017-04-16,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Bastia,ligue-1
11298,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Roma,2012-09-23,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cagliari,serie-a
11894,5,16,0,10,1,5,Juventus,2015-03-02,D,1,11,1,8,3,0,0,<NA>,Roma,serie-a
12426,7,21,0,15,5,2,Pescara,2016-08-28,A,2,12,0,13,3,<NA>,<NA>,2,Sassuolo,serie-a

We can now attempt to impute data for the missing values by searching the combination of (League, Date, HomeTeam, AwayTeam) in the data we have downloaded.

In [33]:
? helperFunctions.extractMissingMatchStatsForCurrentMatch

Signature:
 helperFunctions.extractMissingMatchStatsForCurrentMatch(
    missingFields,
    row,
)
Docstring:
Extract missing value for the specified field after searching for the match.
We do this to just "get" the value the training data might be missing and is available in downloaded_data
File:      /code/football-ftr-prediction/helperFunctions.py
Type:      function

In [34]:
for rowIx, row in train_df_oneOrMoreNulls.iterrows():
    missingFields = list(row.index[row.isnull()])
    df = helperFunctions.extractMissingMatchStatsForCurrentMatch(["Date", "HomeTeam", "AwayTeam"] + missingFields, row)
    df = df.assign(league=row['league']) # add new column for easier reading
    print(df)
    print("--------"*9,)

         Date HomeTeam   AwayTeam  AF  HF   league
58 2011-09-18     Lyon  Marseille NaN NaN  ligue-1
------------------------------------------------------------------------
          Date HomeTeam AwayTeam  AF  HF   league
171 2011-12-17     Caen    Nancy NaN NaN  ligue-1
------------------------------------------------------------------------
          Date HomeTeam AwayTeam  AC  AF  AR  AS  AST  AY  HC  HF  HR  HS  \
325 2017-04-16   Bastia     Lyon NaN NaN NaN NaN  NaN NaN NaN NaN NaN NaN

     HST  HTAG  HTHG  HY   league
325  NaN   NaN   NaN NaN  ligue-1
------------------------------------------------------------------------
         Date  HomeTeam AwayTeam  AC  AF  AR  AS  AST  AY  HC  HF  HR  HS  \
34 2012-09-23  Cagliari     Roma NaN NaN NaN NaN  NaN NaN NaN NaN NaN NaN

    HST  HTAG  HTHG  HY   league
34  NaN   NaN   NaN NaN  serie-a
------------------------------------------------------------------------
          Date HomeTeam  AwayTeam  HY   league
247 2015-03-02     Roma  Juventus NaN  serie-a
------------------------------------------------------------------------
         Date  HomeTeam AwayTeam  HTAG  HTHG   league
17 2016-08-28  Sassuolo  Pescara   NaN   NaN  serie-a
------------------------------------------------------------------------

As we can see, the downloaded data also contains only null values.  

However, we can look up the performance of the team during the season under that column (this will allow us to distinguish home performance vs. away performance). 

For a skewed distribution, a median is a good measure of central tendency. For a normal distribution, both median and mean (since both are approximately equal) are good measures of central tendency. Thus, median can be used for all columns.

In [35]:
? helperFunctions.accessValuesUnderThisFieldForThisSeason

Signature:  helperFunctions.accessValuesUnderThisFieldForThisSeason(field, row)
Docstring: Access all values under the specified field for the team that season. These can be used impute the missing values.
File:      /code/football-ftr-prediction/helperFunctions.py
Type:      function

In [36]:
# view values seen in the season for the chosen home/away team (19 values for 19 matches) and print the mean and median value as a sanity check

for rowIx, row in train_df_oneOrMoreNulls.iterrows():
    missingFields = list(row.index[row.isnull()])
    print("%"*10, f"{row['league']} match :: {row['HomeTeam']} vs. {row['AwayTeam']} on {row['Date'].strftime('%d %B %Y')} -- {len(missingFields)} null columns", "%"*10)
    
    for ix, missingField in enumerate(missingFields):
        missingFieldValuesForCurrentSeason = helperFunctions.accessValuesUnderThisFieldForThisSeason(missingField, row)
        print(missingField + f"\tmean = {np.round(np.nanmean(list(missingFieldValuesForCurrentSeason)), 3)}" + f"\tmedian = {np.round(np.nanmedian(list(missingFieldValuesForCurrentSeason)), 3)}")
        print(list(missingFieldValuesForCurrentSeason))
        print("\n\n") if ix+1 == len(missingFields) else print("-------")

%%%%%%%%%% ligue-1 match :: Lyon vs. Marseille on 18 September 2011 -- 2 null columns %%%%%%%%%%
AF	mean = 15.889	median = 16.5
[18.0, 15.0, nan, 17.0, 23.0, 17.0, 15.0, 11.0, 17.0, 13.0, 11.0, 10.0, 14.0, 19.0, 17.0, 22.0, 17.0, 16.0, 14.0]
-------
HF	mean = 14.722	median = 15.0
[15.0, 14.0, nan, 18.0, 15.0, 13.0, 16.0, 18.0, 14.0, 15.0, 16.0, 17.0, 18.0, 14.0, 10.0, 12.0, 21.0, 10.0, 9.0]



%%%%%%%%%% ligue-1 match :: Caen vs. Nancy on 17 December 2011 -- 2 null columns %%%%%%%%%%
AF	mean = 16.833	median = 17.0
[17.0, 17.0, 20.0, 19.0, 16.0, 18.0, 21.0, 18.0, nan, 20.0, 18.0, 18.0, 13.0, 16.0, 17.0, 16.0, 16.0, 10.0, 13.0]
-------
HF	mean = 16.556	median = 16.0
[12.0, 18.0, 15.0, 18.0, 12.0, 16.0, 16.0, 23.0, nan, 13.0, 19.0, 16.0, 16.0, 16.0, 26.0, 18.0, 11.0, 19.0, 14.0]



%%%%%%%%%% ligue-1 match :: Bastia vs. Lyon on 16 April 2017 -- 14 null columns %%%%%%%%%%
AC	mean = 6.056	median = 5.5
[4.0, 10.0, 1.0, 8.0, 4.0, 2.0, 5.0, 10.0, 9.0, 5.0, 3.0, 11.0, 4.0, 10.0, 8.0, 6.0, nan, 8.0, 1.0]
-------
AF	mean = 14.333	median = 14.5
[14.0, 9.0, 12.0, 8.0, 22.0, 16.0, 15.0, 11.0, 20.0, 21.0, 19.0, 13.0, 17.0, 8.0, 17.0, 15.0, nan, 11.0, 10.0]
-------
AR	mean = 0.222	median = 0.0
[0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, 0.0, nan, 0.0, 0.0]
-------
AS	mean = 14.278	median = 14.0
[9.0, 25.0, 14.0, 18.0, 4.0, 7.0, 17.0, 20.0, 17.0, 16.0, 12.0, 14.0, 13.0, 11.0, 20.0, 18.0, nan, 8.0, 14.0]
-------
AST	mean = 5.111	median = 5.0
[7.0, 9.0, 1.0, 8.0, 3.0, 3.0, 3.0, 9.0, 10.0, 5.0, 4.0, 5.0, 2.0, 2.0, 6.0, 6.0, nan, 3.0, 6.0]
-------
AY	mean = 2.0	median = 2.0
[2.0, 2.0, 2.0, 1.0, 3.0, 2.0, 3.0, 1.0, 2.0, 3.0, 2.0, 2.0, 4.0, 1.0, 1.0, 1.0, nan, 3.0, 1.0]
-------
HC	mean = 4.667	median = 5.0
[2.0, 5.0, 5.0, 5.0, 6.0, 13.0, 5.0, 6.0, 5.0, 6.0, 0.0, 4.0, 3.0, 3.0, 4.0, 5.0, nan, 2.0, 5.0]
-------
HF	mean = 11.722	median = 12.0
[15.0, 15.0, 12.0, 17.0, 8.0, 11.0, 15.0, 7.0, 13.0, 7.0, 16.0, 11.0, 14.0, 7.0, 8.0, 9.0, nan, 12.0, 14.0]
-------
HR	mean = 0.278	median = 0.0
[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, nan, 0.0, 0.0]
-------
HS	mean = 11.111	median = 11.0
[10.0, 5.0, 10.0, 11.0, 12.0, 19.0, 16.0, 13.0, 16.0, 17.0, 11.0, 11.0, 9.0, 6.0, 5.0, 14.0, nan, 4.0, 11.0]
-------
HST	mean = 3.889	median = 3.0
[0.0, 4.0, 5.0, 6.0, 3.0, 11.0, 3.0, 6.0, 6.0, 4.0, 2.0, 3.0, 3.0, 2.0, 1.0, 2.0, nan, 3.0, 6.0]
-------
HTAG	mean = 0.222	median = 0.0
[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, nan, 0.0, 0.0]
-------
HTHG	mean = 0.389	median = 0.0
[0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, nan, 0.0, 0.0]
-------
HY	mean = 1.778	median = 2.0
[3.0, 4.0, 0.0, 1.0, 2.0, 1.0, 2.0, 2.0, 2.0, 1.0, 1.0, 2.0, 2.0, 3.0, 1.0, 1.0, nan, 1.0, 3.0]



%%%%%%%%%% serie-a match :: Cagliari vs. Roma on 23 September 2012 -- 14 null columns %%%%%%%%%%
AC	mean = 5.389	median = 5.0
[2.0, nan, 3.0, 9.0, 4.0, 7.0, 3.0, 9.0, 8.0, 10.0, 4.0, 3.0, 4.0, 5.0, 5.0, 6.0, 5.0, 2.0, 8.0]
-------
AF	mean = 14.833	median = 14.0
[17.0, nan, 14.0, 13.0, 7.0, 23.0, 17.0, 13.0, 7.0, 14.0, 19.0, 21.0, 9.0, 16.0, 14.0, 11.0, 15.0, 23.0, 14.0]
-------
AR	mean = 0.278	median = 0.0
[1.0, nan, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0]
-------
AS	mean = 14.833	median = 14.0
[12.0, nan, 12.0, 17.0, 12.0, 9.0, 20.0, 22.0, 14.0, 25.0, 14.0, 14.0, 18.0, 11.0, 9.0, 19.0, 11.0, 11.0, 17.0]
-------
AST	mean = 5.167	median = 5.0
[3.0, nan, 3.0, 7.0, 7.0, 4.0, 6.0, 7.0, 2.0, 8.0, 2.0, 7.0, 5.0, 5.0, 4.0, 8.0, 4.0, 3.0, 8.0]
-------
AY	mean = 2.333	median = 2.0
[2.0, nan, 4.0, 1.0, 1.0, 4.0, 3.0, 2.0, 2.0, 1.0, 3.0, 3.0, 2.0, 1.0, 3.0, 2.0, 2.0, 3.0, 3.0]
-------
HC	mean = 6.222	median = 5.0
[13.0, nan, 8.0, 5.0, 6.0, 5.0, 10.0, 12.0, 1.0, 6.0, 12.0, 4.0, 4.0, 3.0, 5.0, 2.0, 4.0, 9.0, 3.0]
-------
HF	mean = 17.944	median = 18.5
[24.0, nan, 22.0, 21.0, 11.0, 25.0, 18.0, 11.0, 23.0, 19.0, 14.0, 17.0, 13.0, 22.0, 19.0, 10.0, 25.0, 15.0, 14.0]
-------
HR	mean = 0.278	median = 0.0
[0.0, nan, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0]
-------
HS	mean = 14.444	median = 12.5
[25.0, nan, 20.0, 8.0, 20.0, 12.0, 18.0, 23.0, 5.0, 20.0, 18.0, 11.0, 12.0, 11.0, 9.0, 11.0, 10.0, 14.0, 13.0]
-------
HST	mean = 4.889	median = 5.0
[6.0, nan, 11.0, 2.0, 8.0, 4.0, 3.0, 7.0, 2.0, 5.0, 7.0, 2.0, 5.0, 6.0, 5.0, 4.0, 0.0, 6.0, 5.0]
-------
HTAG	mean = 0.111	median = 0.0
[0.0, nan, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
-------
HTHG	mean = 0.5	median = 0.0
[0.0, nan, 0.0, 0.0, 3.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 2.0, 0.0, 0.0, 0.0, 0.0]
-------
HY	mean = 2.611	median = 3.0
[3.0, nan, 2.0, 1.0, 2.0, 4.0, 3.0, 4.0, 4.0, 3.0, 3.0, 3.0, 2.0, 1.0, 3.0, 3.0, 5.0, 0.0, 1.0]



%%%%%%%%%% serie-a match :: Roma vs. Juventus on 02 March 2015 -- 1 null columns %%%%%%%%%%
HY	mean = 2.278	median = 2.0
[4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 4.0, 4.0, 3.0, 0.0, nan, 2.0, 4.0, 4.0, 3.0, 3.0, 2.0]



%%%%%%%%%% serie-a match :: Sassuolo vs. Pescara on 28 August 2016 -- 2 null columns %%%%%%%%%%
HTAG	mean = 0.722	median = 1.0
[nan, 0.0, 0.0, 1.0, 0.0, 3.0, 0.0, 0.0, 0.0, 1.0, 2.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0]
-------
HTHG	mean = 0.667	median = 0.0
[nan, 0.0, 1.0, 0.0, 1.0, 0.0, 2.0, 0.0, 0.0, 2.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 4.0]

For a skewed distribution, Median is a good measure of central tendency. In case of non-skewed distribution, both Mean and Median are good measures of Central Tendency.

Therefore, using Median for all missing columns will automatically handle and impute the correct value for us.

In [37]:
? helperFunctions.accessValuesUnderThisFieldForThisSeason

Signature:  helperFunctions.accessValuesUnderThisFieldForThisSeason(field, row)
Docstring: Access all values under the specified field for the team that season. These can be used impute the missing values.
File:      /code/football-ftr-prediction/helperFunctions.py
Type:      function

In [38]:
# impute missing values in train_df_oneOrMoreNulls to check if it's producing desired results

for rowIx, row in train_df_oneOrMoreNulls.iterrows():
    missingFields = list(row.index[row.isnull()])

    for missingField in missingFields:
        valuesForCurrentSeason = helperFunctions.accessValuesUnderThisFieldForThisSeason(missingField, row)
        # we will round the median values, make them of integer type and then impute those values in the dataframe
        train_df_oneOrMoreNulls.at[rowIx, missingField] = int(np.round(np.nanmedian(list(valuesForCurrentSeason)), 0))

In [39]:
train_df_oneOrMoreNulls

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5,16,0,6,3,3,Marseille,2011-09-18,H,3,15,0,10,5,0,2,0,Lyon,ligue-1
5733,1,17,0,9,3,5,Nancy,2011-12-17,A,8,16,0,9,1,1,0,2,Caen,ligue-1
7408,6,14,0,14,5,2,Lyon,2017-04-16,A,5,12,0,11,3,0,0,2,Bastia,ligue-1
11298,5,14,0,14,5,2,Roma,2012-09-23,A,5,18,0,12,5,0,0,3,Cagliari,serie-a
11894,5,16,0,10,1,5,Juventus,2015-03-02,D,1,11,1,8,3,0,0,2,Roma,serie-a
12426,7,21,0,15,5,2,Pescara,2016-08-28,A,2,12,0,13,3,1,0,2,Sassuolo,serie-a

We can see all values are correctly imputed. Let's make these changes in `train_df`.

In [40]:
train_df[train_df.isnull().any(axis=1)] # viewing null values of train_df before changing them

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
5620,5,<NA>,0,6,3,3,Marseille,2011-09-18,H,3,<NA>,0,10,5,0,2,0,Lyon,ligue-1
5733,1,<NA>,0,9,3,5,Nancy,2011-12-17,A,8,<NA>,0,9,1,1,0,2,Caen,ligue-1
7408,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Lyon,2017-04-16,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Bastia,ligue-1
11298,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Roma,2012-09-23,A,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cagliari,serie-a
11894,5,16,0,10,1,5,Juventus,2015-03-02,D,1,11,1,8,3,0,0,<NA>,Roma,serie-a
12426,7,21,0,15,5,2,Pescara,2016-08-28,A,2,12,0,13,3,<NA>,<NA>,2,Sassuolo,serie-a

In [41]:
# impute missing values in train_df_oneOrMoreNulls to check if it's producing desired results

for rowIx, row in train_df.iterrows():
    missingFields = list(row.index[row.isnull()])

    for missingField in missingFields:
        valuesForCurrentSeason = helperFunctions.accessValuesUnderThisFieldForThisSeason(missingField, row)
        # we round the median values, make them of integer type and then impute those values in the dataframe
        train_df.at[rowIx, missingField] = int(np.round(np.nanmedian(list(valuesForCurrentSeason)), 0))

In [42]:
train_df[train_df.isnull().any(axis=1)] # we see no null values now

Empty DataFrame
Columns: [AC, AF, AR, AS, AST, AY, AwayTeam, Date, FTR, HC, HF, HR, HS, HST, HTAG, HTHG, HY, HomeTeam, league]
Index: []

In [43]:
test_df[test_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [AC, AF, AR, AS, AST, AY, AwayTeam, Date, HC, HF, HR, HS, HST, HTAG, HTHG, HY, HomeTeam, league]
Index: []

So, we have no empty values in `train_df` and `test_df`.

## Investigation of June and July league matches found in `train_df`

Let us check the distribution of matches monthwise across different leagues.

In [44]:
for league in list(np.unique(train_df["league"])):
    print(f"League :: {league}")
    print(sorted(Counter(train_df[(train_df["league"] == league)]["Date"].dt.strftime("%m")).items()))
    print("=======\n")

League :: bundesliga
[('01', 133), ('02', 261), ('03', 235), ('04', 297), ('05', 154), ('08', 154), ('09', 244), ('10', 229), ('11', 228), ('12', 207)]
=======

League :: la-liga
[('01', 314), ('02', 285), ('03', 297), ('04', 373), ('05', 254), ('06', 10), ('08', 110), ('09', 280), ('10', 260), ('11', 250), ('12', 227)]
=======

League :: ligue-1
[('01', 212), ('02', 293), ('03', 254), ('04', 312), ('05', 267), ('08', 260), ('09', 261), ('10', 248), ('11', 256), ('12', 297)]
=======

League :: premier-league
[('01', 274), ('02', 257), ('03', 241), ('04', 329), ('05', 220), ('08', 215), ('09', 219), ('10', 255), ('11', 268), ('12', 382)]
=======

League :: serie-a
[('01', 312), ('02', 315), ('03', 262), ('04', 335), ('05', 256), ('08', 90), ('09', 289), ('10', 303), ('11', 265), ('12', 233)]
=======

** Football leagues usually take a Summer break in June and July every year.  **Let us verify that further by checking that for every league every year. We expect to see zero matches.

In [45]:
# count the number of matches in the summer months of the year for all the leagues in the train_df
# For e.g. ('06', 10) means 10 matches in June of that year

for year in range(2009, 2017+1): # since train_df is from calendar year 2009 to 2017
    for league in list(np.unique(train_df["league"])):
        counts = sorted(Counter(train_df[  (train_df["league"] == league) & (train_df["Date"].dt.year == year) & \
                                            ((train_df["Date"].dt.month == 6) | (train_df["Date"].dt.month == 7)) # summer months
                                        ]["Date"].dt.strftime("%m")).items() )

        print(f">> {league} matches in summer of {str(year)} were {counts}")
    print("***"*30)

>> bundesliga matches in summer of 2009 were []
>> la-liga matches in summer of 2009 were []
>> ligue-1 matches in summer of 2009 were []
>> premier-league matches in summer of 2009 were []
>> serie-a matches in summer of 2009 were []
******************************************************************************************
>> bundesliga matches in summer of 2010 were []
>> la-liga matches in summer of 2010 were []
>> ligue-1 matches in summer of 2010 were []
>> premier-league matches in summer of 2010 were []
>> serie-a matches in summer of 2010 were []
******************************************************************************************
>> bundesliga matches in summer of 2011 were []
>> la-liga matches in summer of 2011 were []
>> ligue-1 matches in summer of 2011 were []
>> premier-league matches in summer of 2011 were []
>> serie-a matches in summer of 2011 were []
******************************************************************************************
>> bundesliga matches in summer of 2012 were []
>> la-liga matches in summer of 2012 were []
>> ligue-1 matches in summer of 2012 were []
>> premier-league matches in summer of 2012 were []
>> serie-a matches in summer of 2012 were []
******************************************************************************************
>> bundesliga matches in summer of 2013 were []
>> la-liga matches in summer of 2013 were [('06', 10)]
>> ligue-1 matches in summer of 2013 were []
>> premier-league matches in summer of 2013 were []
>> serie-a matches in summer of 2013 were []
******************************************************************************************
>> bundesliga matches in summer of 2014 were []
>> la-liga matches in summer of 2014 were []
>> ligue-1 matches in summer of 2014 were []
>> premier-league matches in summer of 2014 were []
>> serie-a matches in summer of 2014 were []
******************************************************************************************
>> bundesliga matches in summer of 2015 were []
>> la-liga matches in summer of 2015 were []
>> ligue-1 matches in summer of 2015 were []
>> premier-league matches in summer of 2015 were []
>> serie-a matches in summer of 2015 were []
******************************************************************************************
>> bundesliga matches in summer of 2016 were []
>> la-liga matches in summer of 2016 were []
>> ligue-1 matches in summer of 2016 were []
>> premier-league matches in summer of 2016 were []
>> serie-a matches in summer of 2016 were []
******************************************************************************************
>> bundesliga matches in summer of 2017 were []
>> la-liga matches in summer of 2017 were []
>> ligue-1 matches in summer of 2017 were []
>> premier-league matches in summer of 2017 were []
>> serie-a matches in summer of 2017 were []
******************************************************************************************

Let's randomly pick up some of leagues' seasons and view these rows in the `train_df`.

In [46]:
# La-Liga matches in June and July 2014
train_df[(train_df["league"] == "la-liga") & (train_df["Date"].dt.year == 2013) & ((train_df["Date"].dt.month == 6) | (train_df["Date"].dt.month == 7))]

,AC,AF,AR,AS,AST,AY,AwayTeam,Date,FTR,HC,HF,HR,HS,HST,HTAG,HTHG,HY,HomeTeam,league
3652,6,5,0,11,5,0,Malaga,2013-06-01,H,9,5,0,10,6,0,3,0,Barcelona,la-liga
3653,6,17,1,8,1,3,Espanol,2013-06-01,H,6,17,0,12,5,0,1,1,Celta,la-liga
3654,4,7,0,11,0,1,Getafe,2013-06-01,H,4,10,0,16,5,0,1,1,Granada,la-liga
3655,1,19,1,13,6,2,Sociedad,2013-06-01,A,7,12,0,20,5,1,0,7,La Coruna,la-liga
3656,5,15,0,9,2,4,Betis,2013-06-01,D,7,17,0,13,4,0,0,3,Levante,la-liga
3657,5,11,0,11,5,0,Valladolid,2013-06-01,H,9,8,0,20,10,1,2,2,Mallorca,la-liga
3658,5,12,0,26,13,1,Osasuna,2013-06-01,H,4,15,0,18,9,0,2,1,Real Madrid,la-liga
3659,1,11,1,17,7,6,Valencia,2013-06-01,H,9,14,0,21,9,1,2,3,Sevilla,la-liga
3660,1,20,1,5,3,3,Ath Bilbao,2013-06-01,D,11,12,0,28,6,1,1,1,Vallecano,la-liga
3661,4,11,0,16,4,1,Ath Madrid,2013-06-01,A,7,11,0,15,6,0,0,2,Zaragoza,la-liga

^^ These are the 10 matches we counted in the output above.  

[2012-13 La-liga season information on Wikipedia](https://en.wikipedia.org/wiki/2012â€“13_La_Liga) agrees with the observations seen in the dataset. It started on 18 August 2012 and ended on 1 June 2013.

Let us check the start and end date of each season for every league **using the data we downloaded from [www.football-data.co.uk](www.football-data.co.uk)**

In [47]:
# since train_df is from calendar year 2009 to 2017
# therefore, first season is 2008-09; last season is 2017-18

for year in range(2008, 2017+1):
    season = f"{str(year)}-{str(year+1)[-2:]}"
    seasonId = str(year)[-2:] + str(year+1)[-2:]
    for leagueName in list(np.unique(train_df["league"])):
        seasonId = str(year)[-2:] + str(year+1)[-2:]
        currSeasonCurrLeagueDF = pd.read_csv(os.path.join("downloaded_data", f"{leagueName}_{seasonId}.csv")).dropna(how='all')
        try:
            firstDayOfTheSeason = min(pd.to_datetime(currSeasonCurrLeagueDF["Date"], format="%d/%m/%y")) # earlier dates are "lesser"
            lastDayOfTheSeason = max(pd.to_datetime(currSeasonCurrLeagueDF["Date"], format="%d/%m/%y")) # later dates are "greater"
        except ValueError as err:
            firstDayOfTheSeason = min(pd.to_datetime(currSeasonCurrLeagueDF["Date"], format="%d/%m/%Y")) # earlier dates are "lesser"
            lastDayOfTheSeason = max(pd.to_datetime(currSeasonCurrLeagueDF["Date"], format="%d/%m/%Y")) # later dates are "greater"
        
        # pretty print the start and end date of the season
        firstMatchDateStr, lastMatchDateStr = firstDayOfTheSeason.strftime('%d %B %Y'), lastDayOfTheSeason.strftime('%d %B %Y')
        
        # catch seasons which end beyond May
        seasonRunsBeyondMay = "------    ran beyond May" if lastDayOfTheSeason.year == (year+1) and lastDayOfTheSeason.month > 5 else ""
        
        print(f"{season} {leagueName} season was between {firstMatchDateStr} and {lastMatchDateStr} {seasonRunsBeyondMay}")
    print("=========")

2008-09 bundesliga season was between 15 August 2008 and 23 May 2009
2008-09 la-liga season was between 30 August 2008 and 31 May 2009
2008-09 ligue-1 season was between 09 August 2008 and 30 May 2009
2008-09 premier-league season was between 16 August 2008 and 24 May 2009
2008-09 serie-a season was between 30 August 2008 and 31 May 2009
=========
2009-10 bundesliga season was between 07 August 2009 and 08 May 2010
2009-10 la-liga season was between 29 August 2009 and 16 May 2010
2009-10 ligue-1 season was between 08 August 2009 and 15 May 2010
2009-10 premier-league season was between 15 August 2009 and 09 May 2010
2009-10 serie-a season was between 22 August 2009 and 16 May 2010
=========
2010-11 bundesliga season was between 20 August 2010 and 14 May 2011
2010-11 la-liga season was between 28 August 2010 and 21 May 2011
2010-11 ligue-1 season was between 07 August 2010 and 29 May 2011
2010-11 premier-league season was between 14 August 2010 and 22 May 2011
2010-11 serie-a season was between 28 August 2010 and 22 May 2011
=========
2011-12 bundesliga season was between 05 August 2011 and 05 May 2012
2011-12 la-liga season was between 27 August 2011 and 13 May 2012
2011-12 ligue-1 season was between 06 August 2011 and 20 May 2012
2011-12 premier-league season was between 13 August 2011 and 13 May 2012
2011-12 serie-a season was between 09 September 2011 and 13 May 2012
=========
2012-13 bundesliga season was between 24 August 2012 and 18 May 2013
2012-13 la-liga season was between 18 August 2012 and 01 June 2013 ------    ran beyond May
2012-13 ligue-1 season was between 10 August 2012 and 26 May 2013
2012-13 premier-league season was between 18 August 2012 and 19 May 2013
2012-13 serie-a season was between 25 August 2012 and 19 May 2013
=========
2013-14 bundesliga season was between 09 August 2013 and 10 May 2014
2013-14 la-liga season was between 17 August 2013 and 18 May 2014
2013-14 ligue-1 season was between 09 August 2013 and 17 May 2014
2013-14 premier-league season was between 17 August 2013 and 11 May 2014
2013-14 serie-a season was between 24 August 2013 and 18 May 2014
=========
2014-15 bundesliga season was between 22 August 2014 and 23 May 2015
2014-15 la-liga season was between 23 August 2014 and 23 May 2015
2014-15 ligue-1 season was between 08 August 2014 and 23 May 2015
2014-15 premier-league season was between 16 August 2014 and 24 May 2015
2014-15 serie-a season was between 30 August 2014 and 31 May 2015
=========
2015-16 bundesliga season was between 14 August 2015 and 14 May 2016
2015-16 la-liga season was between 21 August 2015 and 15 May 2016
2015-16 ligue-1 season was between 07 August 2015 and 14 May 2016
2015-16 premier-league season was between 08 August 2015 and 17 May 2016
2015-16 serie-a season was between 22 August 2015 and 15 May 2016
=========
2016-17 bundesliga season was between 26 August 2016 and 20 May 2017
2016-17 la-liga season was between 19 August 2016 and 21 May 2017
2016-17 ligue-1 season was between 12 August 2016 and 20 May 2017
2016-17 premier-league season was between 13 August 2016 and 21 May 2017
2016-17 serie-a season was between 20 August 2016 and 28 May 2017
=========
2017-18 bundesliga season was between 18 August 2017 and 12 May 2018
2017-18 la-liga season was between 18 August 2017 and 20 May 2018
2017-18 ligue-1 season was between 04 August 2017 and 19 May 2018
2017-18 premier-league season was between 11 August 2017 and 13 May 2018
2017-18 serie-a season was between 19 August 2017 and 20 May 2018
=========

The data downloaded from football-data.co.uk agrees with the train_df. None of the seasons across different leagues extend beyond May except for the 2012-13 La-liga season.

**I just wanted to check for this possible discrepancy in the data. If there were matches in June and July for most years, then it could mean that there is some faulty data and we would not be able to match it with matches downloaded from [www.football-data.co.uk](www.football-data.co.uk) **

We will save the `train_df` and `test_df` as a CSVs to work on the next steps.

In [48]:
if not os.path.exists('imputed_data'): 
    os.mkdir("imputed_data") # save imputed data in a new directory
    
train_df.to_csv(os.path.join("imputed_data", 'train.csv'), index=False)
test_df.to_csv(os.path.join("imputed_data", 'test-3.csv'), index=False)